{{yield}}
<div class="gray-background">
	<hr  size="40" class="bar">
	<div class="arrow-down"></div>
</div>

<div class="full-width-info gray text-center">
	<hr width="5" size="100" class="bar">
	<div class="text-center" style="margin-left:35px; margin-top:10px;">
		<div class="important-holder">
			<span class="important-text">Web</span><span class="important-text blue circle-div"> & </span><span class="important-text">Code</span>
			<span class="sub-text-left">Design</span><span class="sub-text-right">Development</span>


		</div>


	</div>
	<br>
	<p class="large-paragraph">An innovative, curious, hardworking individual with a BS in Information Technology from Rochester Institute of Technology. Enjoys working with and learning about technology. Successful, balanced IT education at RIT focusing on web and mobile. Working knowledge of web-based platforms and scripting. Strong interest in web design.</p>
	<hr width="5" size="100" class="bar">

</div>

{{info-block}}


<div class="full-width-info dark-gray" >


	<h2 class="text-center">&#60; Project Highlights &#47;&#62;</h2>

	<hr class="color">
	{{#each websiteJSON as |website index|}}
		<div class="flex-grid-wrap">
			<div class="col">
				<p class="large-paragraph text-center center-content-resize">
					<span class="website-title">{{website.websiteTitle}}</span>
					{{website.websiteDescription}}
					<div class="margin-auto" >
						{{#if website.git}}
							<a href="{{website.git}}" class="inline-block github" target=" _blank"></a>
						{{/if}}
						{{#if website.url}}
							<a href="{{website.url}}" class="inline-block www" target="_blank"></a>
						{{/if}}
					</div>
					</p>
			</div>
			<div class="col" style="text-align: center;"> 
				<div class="website-images">


					{{#each website.websiteURL as |url indexURL|}}

						{{#if (eq indexURL 0) }}
							<input type="radio" id="website-{{indexURL}}" name="contact{{index}}" value="website" class="website-radio" checked>
						{{else}}
							<input type="radio" id="website-{{indexURL}}" name="contact{{index}}" value="website" class="website-radio">
						{{/if}}
									    
				    {{/each}}

				 	{{#each website.websiteURL as |url indexURL|}}
   					    <div 
					    	for="website-{{indexURL}}" 
					    	class="website-image" 
					    	id="website-image-{{indexURL}}" 
					    	style="background: url({{url}}) no-repeat center;background-size: 560px 350px"
					    ></div>
					{{/each}}
		
				</div>
			</div>
		</div>
		<br>
		<hr class="color">
		<br>
	{{/each}}
	
	<style>
    {{#each websiteJSON as |website index|}}

		{{#each website.websiteURL as |url indexURL|}}
			#website-image-{{indexURL}}  {
				display:none;

			}
			#website-{{indexURL}}:checked ~ #website-image-{{indexURL}}  {
				display:block;
			}


		{{/each}}

    {{/each}}

	</style>


</div>



<div class="full-width-info purple text-center " >
	<h2 class="text-center">&#60; Hobbies &#47;&#62;</h2>
	
	<div class="flex-grid hobbies">
		<div class="col">Server Management
			<div class="hobbie-icons server"></div>
		</div>
		<div class="col">Networking
			<div class="hobbie-icons networking"></div>
		</div>
		
		<div class="col">Traveling
			<div class="hobbie-icons traveling"></div>
		</div>
		<div class="col">Coding & Scripting
			<div class="hobbie-icons coding"></div>
		</div>
	</div>

	
	<div class="flex-grid hobbies">
		
		<div class="col"> Soccer
			<div class="hobbie-icons soccerBall"></div>
		</div>
		<div class="col"> Scuba Diving
			<div class="hobbie-icons  scubaDiving"></div>
		</div>
		<div class="col">Video Editing
			<div class="hobbie-icons videoEditing"></div>
		</div>

	</div>

</div>



<div class="full-width-info gray">

	<h2 class="text-center">Freelance Software Engineer</h2>
	<p class="text-center time-frame small-text">2018 - Current</p>
	<p class="large-paragraph text-center">
		Working with 221b.io building web applications and providing consulting.
	</p>

	<h2 class="text-center blue-text">-</h2>

	<h2 class="text-center">Junior Software Engineer</h2>
	<p class="text-center time-frame">The Center for Open Science</p>
	<p class="text-center time-frame small-text">2017 - 2018</p>
	<p class="large-paragraph text-center">
		Working at the Center for Open Science on the Labs team using rapid incremental prototyping to create experimental products. 
	</p>

	<h2 class="text-center blue-text">-</h2>

	<h2 class="text-center">Developer Intern</h2>
	<p class="text-center time-frame">The Center for Open Science</p>
	<p class="text-center time-frame small-text">2016 - 2017</p>
	<p class="large-paragraph text-center">
		Worked at the Center for Open Science on developing web applications, collaborating with teams of developers, working with Ember.js, and Django REST API frameworks.  
	</p>

	<h2 class="text-center blue-text">-</h2>

	<h2 class="text-center">Lab Technician</h2>
	<p class="text-center time-frame">Rochester Institute of Technology</p>
	<p class="text-center time-frame small-text">2016 - 2016</p>
	<p class="large-paragraph text-center">
		Worked at the College of Imaging Arts and Sciences providing technical support, maintaining, fixing, upgrading computers, and providing end user support for computer labs on the Rochester Institute of Technology campus.
	</p>
	<h2 class="text-center blue-text">-</h2>

	<h2 class="text-center">Assistant System Administrator</h2>
	<p class="text-center time-frame">Rochester Institute of Technology</p>
	<p class="text-center time-frame small-text">2015 - 2016</p>
	<p class="large-paragraph text-center">
		Worked at the College of Science providing technical support for faculty and staff at Rochester Institute of Technology. Performed backup, restore, upgrades, and software installations for Mac and Windows computers.
	</p>
	<h2 class="text-center blue-text">-</h2>

	<h2 class="text-center">Rochester Institute Of Technology</h2>
	<p class="text-center time-frame">BS in Information Technology</p>
	<p class="text-center time-frame small-text">2013 - 2017</p>
	<p class="large-paragraph text-center">Received my BS in Information Technology with an immersion in web and mobile design with a concentration in communications.</p>

</div>

<!-- <div class="full-width-info gray" >

</div> -->

<div class="full-width-info blue text-center " >
	<h3>Let’s get to work.</h3>
	<h4>Want to get in touch with me?</h4>
		<button class="btn-outline"  {{action 'toggleEmail'}}>{{{email}}}</button>
	<br>
	<br>
	<br>
</div>



<div class="full-width-info dark-gray footer" >
	<br>
	Ryan Mason 2017 - <a href {{action 'toggleLicense'}}>License</a>
	{{#if showLicense}}
		<div>Icons by <a href="https://www.flaticon.com/authors/nikita-golubev" title="Nikita Golubev">Nikita Golubev</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

		<div>Icons made by <a href="https://www.flaticon.com/authors/google" title="Google">Google</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

		<div>Icons made by <a href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

		<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

		<div>Icons made by <a href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

		<div>Icons made by <a href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

		<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

		<div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

		<div>Icons made by <a href="https://www.flaticon.com/authors/lucy-g" title="Lucy G">Lucy G</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

		<div>Icons made by <a href="https://www.flaticon.com/authors/zurb" title="Zurb">Zurb</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

		<div>Icons made by <a href="https://www.flaticon.com/authors/alfredo-hernandez" title="Alfredo Hernandez">Alfredo Hernandez</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

		<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
	{{/if}}
</div>
