<div style="margin:0px 5px 5px 5px"> 
	{{nav-bar}}
	<div class="spacer"></div>

	<!--<button class="btn-outline btn-resume" {{action 'toggleResume'}}>Resume</button>

	<div class="flex-grid">
		{{#if toggleResume}}
			{{about-me}}

		{{else}}
			<iframe src="resume/Resume.pdf" width="50%" height="690" frameborder="0" id="iframe-resume"></iframe>

		{{/if}}
		{{info-block}}

	</div>
	 -->
	<div class="flex-grid" >
		{{full-width-info}}
	</div>
</div>