<div class='flex-wrapper'>
	<div class="loading">
		<div class="inner"><h1 class="ellipsis"></h1></div> 
	</div>


	<div class='wrapper'>
		<div class="item">
			<div class="inner">

				<img class="header-avatar" style="background-image: url('../img/me.JPG')">

				<h1>Ryan Mason</h1>
				<p>Im ryan and i do tech stuff with computers take a look how awesome this site looks its different from most site that you would see  because im different what. im different </p>

				{{social-media}}

				<br />
				<br />
				<br />

				<a href="#" class="btn btn-default">Resume</a>

				<br />
				<br />
			

				{{arrow-down}}
			</div>
			<div class="border"></div>
			<div class="border"></div>
			<div class="border"></div>
			<div class="border"></div>
		</div> 
	</div>
	<div class='wrapper'>
		<div class="item" style="display: none"></div>
		<div class="item">
			<div class="inner"><h1>Projects</h1>


				{{component-gallery}}

			</div>
			<div class="border"></div>
			<div class="border"></div>
			<div class="border"></div>
			<div class="border"></div>
		</div>

		<div class="item">
			<div class="inner"><h1>Skills</h1>

				{{skill-bars}}

			</div>
			<div class="border"></div>
			<div class="border"></div>
			<div class="border"></div>
			<div class="border"></div>
		</div> 

		<div class="item">
			<div class="inner"><h1>Blog</h1></div>
			<div class="border"></div>
			<div class="border"></div>
			<div class="border"></div>
			<div class="border"></div>
		</div>

		<div class="item">
			<div class="inner"><h1>Contact</h1></div>
			<div class="border"></div>
			<div class="border"></div>
			<div class="border"></div>
			<div class="border"></div>
		</div>
	</div>
</div>
{{outlet}}


